.u-mid-width {
  width: 70%;
  box-sizing: border-box; }


  .center-page{
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10%;
      border-style: solid;
      border-width: thin;
      border-color: gray;
      padding: 5%; 
  }




/*classes and ids for the camaras*/



.cams{

  width: 100%;
  height: 100%;
  margin-left: 1%;
}

#cam1{
  height: 50%;
  background-color: goldenrod;
}

#cam2{
  height: 50%;
  background-color: darkolivegreen;
}

/**/

.navbar{
  background-color: grey;
  padding: 3%;
  margin-top: 0%;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

/*--------------------------*/


#quote{
  background-color: #F4F4F4;
  padding: 3%;
  margin: 0px;
  
}


#quote-text{
  margin-left: 25%;
  font-size: 22px;
  font-family: 'Merriweather', serif;

}

/*--------------------------*/



#intro
{
  background-image: url('/images/mvp/newtonbig.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  height: 60vh;
}


.small-img{
  width: 200px;
  height: 200px;
}

.intro-img{
  width: 165px;
  height: 165px;
}


#intro-text{
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

.margin-pinch{
  margin-left: 10%;
  margin-right: 10%;
}

/*.gray-back{
  background-color: #FAFAFA;
}*/


/*------------*/
#credit{
  background-color: #F4F4F4;
  margin: 0px;

}

.chat-container .one-half.column {
  height: calc(100vh - 60px);
}

.chat-container .message-container {
  height: 90%;
  overflow: scroll;
}

.chat-container .message-input {
  height: 10%;
}

.chat-container .message-input .twelve.columns {
  text-align: center;
}
.chat-container input {
  margin-left: 20px;
  width: 50%;
}


.profile-background{
    background-color: brown;
    padding: 10%;
}

.big-margin-pinch{
  margin-left: 20%;
  margin-right: 20%;
}

.down-margin{
  margin-top: 5%;
}

.thin-grey-box{
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

