<main-nav></main-nav>

<img class="small-img" src="https://userscontent2.emaze.com/images/f7e53c40-ff94-4abd-a636-cedaba0c3b33/c171f368-7bb3-4dc8-8f3c-8881e4e46aaf.png" alt="">



<div class="center-page">

<!--alternative heading-->
<h1>Contact Us!</h1>

  <form>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput">Reason for contacting</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Reading list</option>
        <option value="Option 3">Report abuse</option>
        <option value="Option 4">Report a privacy issue</option>

      </select>
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea class="u-mid-width" placeholder="Hi Vatekeh …" id="exampleMessage"></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary" type="submit" value="Submit">
</form>
</div>