<div ng-controller="chatCtrl">
  <main-nav></main-nav>

  <div class="chat-container">

  

  <!-- there are a few shorthand columns widths as well -->
    <div class="row">
      <div class="one-half column">
        <div class="row message-container">
          <div class="row" ng-repeat="message in messages">
            <div class="gray-back text-center">{{message.text.text}}</div>
            <div></div>
          </div>
        </div>

      <div class="row message-input">        
        <div class="twelve columns">
            <form ng-submit="appendMsg(msg)">
              <input type="text" ng-model="msg" id="m" name="text" />
              <input type="submit" id="submit" value="Submit" />
            </form>
        </div>
      </div>
    </div>

    <div class="one-half column">
        <div class="cams">
          <div id="cam1">CAM1</div>
          <div id="cam2">CAM2</div>
        </div>

    </div>
  </div>
  </div>
  </div>