<div ng-controller="mainCtrl">
    <main-nav></main-nav>

    <div>
    <div id="intro">

        <div id="">
            <h1>thought-provoking conversations and debates<h1>
            <p>talk to people</p>
            <button>Join for free</button>
        </div>

    </div>

    <!--<div class="credit"></div>-->

</div>

<div></div>

<div id="quote">
    <div id="quote-text" ng-model="quoteFade()">
        
    </div>
</div>

<div class="center-text">
    <h2 style="margin-left: 30%;">Advance your research</h2>
</div>


<div class="containor margin-pinch gray-back">
    

    <div class="row">

        <div class="one-half column">

            <div>
                <img class="" src="" alt="">
                <h3>Connect with your colleagues</h3>
                <p>
                    Read and discuss publications
                    Find the research you need to 
                    help your work and join open 
                    discussions with the authors 
                    and other experts.
                </p>
            </div>

            <div>
                <img class="intro-img" src="http://pngimages.net/sites/default/files/file-document-png-image-66045.png" alt="">
                <h3>Read and discuss publications</h3>
                <p>
                    Get stats on your research
                    See in-depth stats on who's 
                    been reading your work and 
                    keep track of your citations.
                </p>
            </div>

        </div>

        <div class="one-half column">
            <div>
                <img class="intro-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdm1WLdBEEwR9AXB1h_ns37m4QdfJM5l2DPgN6FcceI2MpNH4ACg" alt="">
                <h3>Create exposure for your work/idea</h3>
                <p>
                    Share your work from any stage of the 
                    research cycle to gain visibility and 
                    citations.
                </p>
            </div>  

            <div>
                <img class="intro-img" src="https://www.lovingfresh.com/images/connecting.png" alt="">
                <h3>Connect with your colleagues</h3>
                <p>
                    Connect and collaborate with researchers 
                    from around the world in all scientific 
                    disciplines.
                </p>
            </div>
        </div>


    </div>
    
</div>
</div>



