<main-nav></main-nav>

<div>
    <div id="intro">

        <div class="text-center down-margin">
            <h1>thought-provoking conversations and debates<h1>
            <p>talk to people</p>
            <input type="submit" ui-sref="signup" value="Join for free">
        </div>

    </div>

    <!--<div class="credit"></div>-->

</div>


<div id="trailer-vid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>How can polychat help you?</h3>

                <p class="mid-text">
                
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                   quis nostrud exercitation <br> ullamco laboris nisi ut aliquipex ea commodo consequat. 
                
                </p>
            </div>


            <div class="col-md-8">
                <div class="vid">
                </div>
            </div>
        </div>
    </div>


</div>

<div id="eye-candy" style="font-size: 25px; color: c0b283">
    <div class="containor">
        <div class="row">
            <div class="col-md-6">
                <div class="splashImga">
                </div>

                <div class="text-padding">
                    Sed ut perspiciatis unde omnis iste natus error 
                    sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore 
                    veritatis et quasi architecto beatae vitae dicta sunt 
                </div>
            </div>

            <div class="col-md-6">
                

                <div class="text-padding">
                    quia dolor sit amet, consectetur, adipisci velit, 
                    sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. 
                    Ut enim ad minima veniam, quis nostrum exercitationem
                </div>

                <div class="splashImgb">
                </div>

            </div>
        </div>
    </div>
</div>

<div id="quote">
    <div class="text-center">
        <h3>"The philosophers have only interpreted the world, in various ways. 
        The point, however, is to change it." -- Karl Marks</h3>
    </div>
</div>

<div class="text-center">
    <h2>Advance your research</h2>
</div>


<div class="containor margin-pinch gray-back">
    

    <div class="row">

        <div class="col-md-6">

            <div>
                <img class="intro-img" src="https://cdn4.iconfinder.com/data/icons/flat-icon-set/2125/flat_icons-graficheria.it-03.png" alt="">
                <div class="text-center"><h3>Save your conversations and messages</h3></div>
                <p>
                    Read and discuss publications
                    Find the research you need to 
                    help your work and join open 
                    discussions with the authors 
                    and other experts.
                </p>
            </div>

            <div>
                <img class="intro-img" src="http://pngimages.net/sites/default/files/file-document-png-image-66045.png" alt="">
                <div class="text-center"><h3>Read and discuss publications</h3></div>
                <p>
                    Get stats on your research
                    See in-depth stats on who's 
                    been reading your work and 
                    keep track of your citations.
                </p>
            </div>

        </div>

        <div class="col-md-6">
            <div>
                <img class="intro-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdm1WLdBEEwR9AXB1h_ns37m4QdfJM5l2DPgN6FcceI2MpNH4ACg" alt="">
                <div class="text-center"><h3>Create exposure for your work/idea</h3></div>
                <p>
                    Share your work from any stage of the 
                    research cycle to gain visibility and 
                    citations.
                </p>
            </div>  

            <div>
                <img class="intro-img" src="https://www.lovingfresh.com/images/connecting.png" alt="">
                <div class="text-center"><h3>Connect with your colleagues</h3></div>
                <p>
                    Connect and collaborate with researchers 
                    from around the world in all scientific 
                    disciplines.
                </p>
            </div>
        </div>


    </div>
    
</div>


<end-footer></end-footer>