<div ng-controller="mainCtrl">
    <main-nav></main-nav>

<div class="Body">
    <div class="login-page">
    <div class="login-form">
        <form class="login-register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>

        <p class="viewer-message">
            Already registered? 
            <a id="sign-in">Sign In</a>
        </p>
        </form>
        <form class="login-login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button id="haha">login</button>
        <button style="background-color:red" id="haha">Google+</button>
        <button style="background-color:aqua" id="haha">ReseachGate</button>
        <p class="login-message">Not registered? <a ui-sref='signup'>Create an account</a></p>
        </form>
    </div>
    </div>
</div>
</div>