<div ng-controller="mainCtrl">
    <main-nav></main-nav>

    <div class="profile-background">
    </div>

    <div id="name" class="text-center">
        <h1>ROLAND MARUNTELU</h1>
    </div>

    <div id="work" class="text-center">
        <h3>Web Designer & Wordpress Theme Developer</h3>
    <div>

    <div id="location" class="text-center">
        <h4>based in Bucharest, Romania</h4>
    </div>

    <div id="bio" class="text-center big-margin-pinch">
        I'm Roland Maruntelu, webdesigner & wordpress theme developer at rolyart.ro.I 
        have a passion for creating challenging, clean and beautiful websit e/ 
        wordpress themes.
    </div>


    <div class="containor-fluid">
        <div class="row down-margin down-margin" style="margin-left: 20%; margin-right: 20%;">
            <div class="col-md-4 thin-grey-box">
                <h3><a>Credentials & Highlights</a></h3>
                <h4><a>Add employment credential</a><h4>
                <h4><a>Studied at<a></h4>
                <h4><a>Lives in</a></h4>
            </div>

            <div class="col-md-4">
                <button>Follow</button>
            </div>
            
            <div class="col-md-4 thin-grey-box">
                <h2><a>Knows About</a></h2>
            </div>
        </div>
    </div>






    </div>
</div>
