<div ng-controller="mainCtrl">
    <main-nav></main-nav>

<div class="Body">
    <div class="login-page">
    <div class="login-form">
        <form class="login-register-form">
        <button>create</button>
        </form>

        <form class="login-login-form">
            <input ng-model="signup.fname" type="text" placeholder="First Name"/>
            <input ng-model="signup.lname" type="text" placeholder="Last Name"/>
            <input ng-model="signup.work" type="text" placeholder="Work"/>
            <input ng-model="signup.Location" type="text" placeholder="Location"/>
            <button ng-click="submitSignup(signup)">create</button>
        </form>
    </div>
    </div>
</div>


</div>