<div ng-controller="mainCtrl">
    <main-nav></main-nav>

<div class="Body">
    <div class="login-page">
    <div class="login-form">
        <form class="login-register-form">
        <button>create</button>
        </form>

        <form class="login-login-form">
            <input type="text" placeholder="First Name"/>
            <input type="text" placeholder="Last Name"/>
            <input type="password" placeholder="Work"/>
            <input type="text" placeholder="Location"/>
            <button>create</button>
        </form>
    </div>
    </div>
</div>


</div>