<div ng-controller="mainCtrl">
    <main-nav></main-nav>

<div class="Body" id="switcher">
    
    <div id="animate-next">
        <div class="login-page">
        <div class="login-form">
             <h4>Sign up to see more</h4>
            <form class="login-register-form">
            <button>create</button>

            <p class="viewer-message">
                Already registered? 
                <a id="sign-in">Sign In</a>
            </p>

            </form>
            <form class="login-login-form">
            <input ng-model="signup.email" type="text" placeholder="email"/>
            <input ng-model="signup.password" type="password" placeholder="password"/>
            <div ng-click="submitSignup(signup)" id="haha"><a ui-sref='signup2'>NEXT</a></div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>